<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <style>
            .error { color: red; }
        </style>
    </head>
<body style= "font-family: sans-serif; margin-left:5em; margin-top: 2em;" >
<p>
<div >
    <span >
    <a href="/">Home</a>&nbsp&nbsp
    <a href="/blog">All blogs</a>  &nbsp&nbsp
    <a href="/newpost">Add a blog entry</a>
    </span>
    
<span style="padding-left: 20em;">       
    <a href="/login" >Log in</a>&nbsp&nbsp
    <a href="/logout" >Log out</a>
</span>    
</div>
 

</p>
    <p>
        {% with messages = get_flashed_messages(with_categories = True) %}
            {% for category,message in messages %}
               <p class="{{category}}"> {{message}} </p>
            {% endfor %}
        {% endwith %}
    </p>

    {% block content %}
    {% endblock %}

</body>
</html>
