{% extends "base.html" %}

{% block content %}

<h2>Add a Blog Entry</h2>

    <form method = "POST" action="/submit">

    <label>Title for your new blog
    <br>
    <input type= "text" name = "title" />
    <br>
    </label>
    <p class="error">{{title_error}}</p>
    <br>
    <br>
    <label>Your new blog
    <br>
    <textarea rows="5" cols="50" name = "body"></textarea>
    </label>
    <p class="error">{{body_error}}</p>
    <br>
    <input type="submit" value = "Add Entry"/>
   
    
    
    </form>



{% endblock %}